

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgb(150, 159, 214);
    box-shadow: 0 0 10px rgb(189, 187, 187);
  
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: rgb(185, 81, 121);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor:  pointer;
    width: 100%;
  
  }
  
  .contact-form button:hover {
    background-color: #000000;
  
  }
  
  /* fade-in animation */
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(20px)
    }
    100% {
      opacity: 1;
      transform: translate(0)
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }

  @media (max-width: 768px) {
  .contact-form {
    margin: 20px;
    padding: 20px;
  }
}